{% extends "layout.html" %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #000;
            color: #FFF
        }
    </style>
</head>
<body>

    <h1>TESTING THE TEMPLATES </h1>


</body>
</html> {% endcomment %}



{% block title %}
    tweet page 
{% endblock %}

{% block content %}
    <h1 class="text-white text-centre mt-4 ">TWEETS</h1>
{% endblock  %}