{% extends "layout.html" %}

{% block title %}
    tweeties
{% endblock  %}

{% block content %}
    <h1 class= "d-flex justify-content-center mt-4 text-white">welcome to Birdys</h1>
<a class ="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Create a Tweet</a>
<div class="container row gap-3 ">
    {% for tweet in tweets  %}
    <div class="card bg-black text-white" style="width: 18rem;">
        <img src="{{tweet.photo.url}}" class="card-img-top mt-3" alt="...">
        <div class="card-body ">
          <h5 class="card-title">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.text}}</p>
          <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock content %}