{% extends "layout.html" %}

{% block title %}
    Birdys
{% endblock  %}

{% block content %}
    <h1 class= "d-flex justify-content-center text-white mt-4">welcome to BirdysTweet</h1>

    <h2 class= "text-white">
        {% if form.instance.pk %}
        Edit Tweet 
        {% else %}
        Create Tweet
        {% endif %}

        <form method="post" enctype="multipart/form-data"class = "form">
            {% csrf_token %}
            {{form.as_p}}
            {% comment %} rendering as paragraph {% endcomment %}
            <button class="btn btn-warning " type = "submit">Submit</button>
        </form>
        <a href="{% url 'tweet_list' %}">Back to Birdys page</a>


    </h2>


{% endblock content %}